<div>
URL<font color="red">*</font> :
      <input type = "text" name="Url" ng-model="newentry.URL" required>
</div><br>
<div>
Blog Name<font color="red">*</font> :
    <input type = "text" name="BlogName" ng-model="newentry.BlogName" required>
Owner<font color="red">*</font> :
    <input type = "text" name = "Owner" ng-model="newentry.Owner" required>
</div><br>
<div>
Description :
<br><textarea type = "text" name="Description" ng-model="newentry.Description"></textarea>
</div><br>
<div>
Tags :
    <tags-input ng-model="tags"></tags-input>
</div>
<!-- I have read the rules -->
<div>
<input type="checkbox" ng-model="newentry.Rules" required>
I have read the rules for new submissions.<font color="red">*</font>
</div><br>
<!-- SUBMIT BUTTON -->
<button ng-disabled="submission.$invalid"
type="button" ng-click="submitEntry(tags)">
  <span class="glyphicon glyphicon-flash"></span> Submit!
</button>
<button type="button" ng-click="goToState('list.table')">Back</button>

<br>(<font color="red">*</font>) denotes a required field.
