

<div ng-controller="generateFormController">
  <div class="Form_Elem"><div class="Form_Elem_Title">
    URL<font color="red">*</font> : </div>
  <div class="Form_Elem_Wrapper Form_Elem_Wrapper_Long">
    <input class="Form_Elem_Input" type = "text" name="Url" ng-model="newentry.URL" required>
  </div>
  </div>
  <div compile-html="generatedForm"></div>
  <div class="Form_Elem"><div class="Form_Elem_Title">
  Tags :</div>
    <div class="Form_Elem_Wrapper Form_Elem_Wrapper_Long"><tags-input class="Form_Elem_Tags" ng-model="tags"></tags-input></div>
  </div>
<br>
<!-- SUBMIT BUTTON -->
<button ng-disabled="submission.$invalid"
type="button" ng-click="submitEntry(tags)">
  <span class="glyphicon glyphicon-flash"></span> Submit!
</button>
<button type="button" ng-click="goToState('list.table')">Back</button>

<br>(<font color="red">*</font>) denotes a required field.
</div>
