<div>
Source<font color="red">*</font> :
    <input type = "text" name="Source" ng-model="newentry.Src" required>
URL<font color="red">*</font> :
      <input type = "text" name="Url" ng-model="newentry.URL" required>
</div><br>
<div>
Title<font color="red">*</font> :
    <input type = "text" name="Title" ng-model="newentry.Title" required>
Author<font color="red">*</font> :
    <input type = "text" name = "Author" ng-model="newentry.Author" required>
</div><br>
<div>
Summary :
<br><textarea type = "text" name="Summary" ng-model="newentry.Summary"></textarea>
</div><br>
<div>
Tags :
    <tags-input ng-model="tags"></tags-input>
</div>
<!-- I have read the rules -->
<div>
<input type="checkbox" ng-model="newentry.Rules" required>
I have read the rules for new submissions.<font color="red">*</font>
</div><br>
<!-- SUBMIT BUTTON -->
<button ng-disabled=""
type="button" ng-click="submitEntry()">
  <span class="glyphicon glyphicon-flash"></span> Submit!
</button>

<br>(<font color="red">*</font>) denotes a required field.
