
<div class="panel panel-default">

<!-- Header message -->
<div class="panel-heading"><div ng-controller="header">
   <b>Please enter your search criteria:</b>
  </div>
</div>

<!-- End outer template begin body content -->
<div class="panel-body">

<div>




<form>
  <table width = "600" border ="0" cellspacing = "1"
        cellpadding = "9">

      <tr>
        <td>Content Type</td><td>
        <input type = "text" name="ContentType" ng-model="formdata.Type"></td>
      </tr>
      <tr>
        <td>Source</td><td>
        <input type = "text" name="Source" ng-model="formdata.Src"></td>
      </tr>
        <tr>
          <td width="98">Title</td><td>
          <input type = "text" name="Title" ng-model="formdata.Title"
          style="width: 200;"></td>
        </tr>
        <tr>
          <td>Author</td><td>
          <input type = "text" name = "Author" ng-model="formdata.Author"></td>
        </tr>
        <tr>
          <td>Tags</td><td>
          <tags-input ng-model="tags"></tags-input></td>
        </tr>

  </table>

  <!-- SUBMIT BUTTON -->
  <button type="button" ng-click="submitSearch()">
    <span class="glyphicon glyphicon-flash"></span> Submit!
  </button>
<button type="button" ng-click="goToState('list.table')">Back</button>
</form>
</div>


</div>
<!-- End body content begin outer template -->
</div>
