<div ng-controller="cats_permissionsCtrl">
<div class="container">
    <div class="row">
      <div class="col-md-10">

<div class="panel panel-default">

      <!-- Header message -->
      <div class="panel-heading"><div ng-controller="header">{{header}}
        </div>
      </div>


<!-- End outer template begin body content -->
<div class="panel-body">


<div ng-controller="myCtrl">

  <div class="row">

    <form name="catForm">
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="table-responsive">
          <table ng-controller="catstableCtrl" class="table table-hover">
            <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody >
          <tr  ng-repeat="x in cats">
            <td>
              <a ui-sref="list({catID: x.catID})">
              {{x.catName}}
            </a>
            </td>
            <td>{{x.description}}</td>
          </tr>
        </tbody>
          </table>
        </div>
      </div>
    </div>
       </form>

    </div>

</div>

</div>
<!-- End body content begin outer template -->
</div>

</div>
</div>
</div>
</div>
