


<form>

  <table width = "600" border ="0" cellspacing = "1"
        cellpadding = "9">

      <tr>
        <td>Content Type<font color="red">*</font></td><td>
        <input type = "text" name="ContentType" id="entry_type"></td>
      </tr>
      <tr>
        <td>Source<font color="red">*</font></td><td>
        <input type = "text" name="Source" id="entry_src"></td>
      </tr>
        <tr>
          <td>URL<font color="red">*</font></td><td>
            <input type = "text" name="Url" id="entry_url"
            style="width: 450;"></td>
        </tr>
        <tr>
          <td width="98">Title<font color="red">*</font></td><td>
          <input type = "text" name="Title" id="entry_title"
          style="width: 200;"></td>
        </tr>
        <tr>
          <td>Author<font color="red">*</font></td><td>
          <input type = "text" name = "Author" id="entry_author"></td>
        </tr>
  </table>


        <table width = "600" border ="0" cellspacing = "1"
              cellpadding = "9">
        <td>
        Summary<br>
        <textarea type = "text" name="Summary" id="entry_summary"
        style="width: 600; height: 100;"></textarea><br></td>
        </tr>
        </table>
        (<font color="red">*</font>) Denotes a required field.
        <br><br>

        <input name = "update" type = "submit"
           id = "update" value = "Update">




</form>
