
<div class="panel panel-default">

      <!-- Header message -->
      <div class="panel-heading"><div ng-controller="header">
        <div ng-repeat="x in catInfo">
              {{x.catName}}
        </div>
        </div>
      </div>

      <button type="button" ng-click="goToState('list.searchbox')">Show search menu</button>
      <button type="button" ng-click="goToState('list.table')">Back to list</button>

  <span ng-controller="workslist_permissionsCtrl">

   <div ng-if="groupID < 6">
     <button type="button" ng-click="goToState('list.newbox')">Contribute</button>
   </div>
   <div ng-if="groupID == 6">
     <button type="button" ng-click="">Request to join this category</button>
   </div>
   <div ng-if="groupID == 7">
     <button type="button" ng-click="goToState('list.newbox')">Contribute</button>
     Your permissions have been limited in this category.<br>
   </div>
   <div ng-if="groupID == 8">
     You have been banned from this category.<br>
     You no longer are able to contribute or leave comments.<br>
     Contact a category admin to appeal.
   </div>
   <div ng-if="groupID == null">
     Sign in to contribute to the database!
   </div>
 </span>

<!-- End outer template begin body content -->
<div class="panel-body">


  </div>
  <!-- End body content begin outer template -->
</div>

<div class="panel panel-default">

      <!-- Header message -->
      <div class="panel-heading"><div ng-controller="header">
              {{header}}
        </div>
      </div>

<!-- End outer template begin body content -->
<div class="panel-body">

  <div>
    <style scoped>@import url("css/catlist.css");</style>
    <style scoped>@import url("bower_components/ng-tags-input/ng-tags-input.min.css");</style>
    <style scoped>@import url("bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css");</style>



      <div ui-view="searchbox"></div>
      <div ui-view="newbox"></div>
      <div ui-view="table"></div>

    </div>


  </div>
  <!-- End body content begin outer template -->
</div>
