<div class="panel panel-default">

<!-- Header message -->
<div class="panel-heading"><div ng-controller="header">
        <b>Edit (or delete) existing entry:</b>
  </div>
</div>

<!-- End outer template begin body content -->
<div class="panel-body">

<div >

<form name= "submission" ng-controller="editFormCtrl">
      <div class="Form_Elem">
        <div class="Form_Elem_Title">
        Category :
      </div>
      <div class="Form_Elem_Static">
        {{catInfo.catName}}
      </div>
      </div>
        <div class="Form_Elem">
        <div class="Form_Elem_Title">Content Type :</div>
        <div class="Form_Elem_Static"> {{categoryType}}</div>
        </div>

        <div ng-include="newForm"></div>

</form>
</div>


</div>
<!-- End body content begin outer template -->
</div>
