
<form name= "submission" ng-controller="newFormCtrl">
  <div ng-controller = "newFormSelect">
    <div ng-controller = "newFormDisplay">

        Category :  {{catInfo.catName}}
        <br><br>
        Content Type :
        <select ng-model="selectedtype" ng-options="type.contentType for type in types"
        ng-change="display(selectedtype)"></select>

        <br><br>
        <div ng-include="newForm"></div>
        <button type="button" ng-if="!newForm" ng-click="goToState('list.table')">Cancel</button>

    </div>
  </div>
</form>
