<div ng-controller="workslist_permissionsCtrl">

<div class="container">
    <div class="row">
      <div class="col-md-10">
      <style scoped>@import url("css/catlist.css");</style>
      <style scoped>@import url("bower_components/ng-tags-input/ng-tags-input.min.css");</style>
      <style scoped>@import url("bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css");</style>

      <div ui-view="searchbox"></div>
      <div ng-if="level > 44" ui-view="newbox"></div>
      <div ui-view="table"></div>
      <div ui-view="submitted"></div>
      <div ui-view="approved"></div>
      <div ui-view="failure"></div>



</div>
</div>
</div>


</div>
