<div class="panel panel-default">
<div class="panel-heading"><div ng-controller="header">
        <b>Your results...</b>
  </div>
</div>
</div>

<div ng-controller="workslistCtrl">
    <div ng-repeat="item in works">
      <div class="panel panel-default">

          <div class="panel-heading">
            <div ng-controller="header">
              <b><a ng-href="{{item.url|urlFilter}}">{{item.info.Title}}</a></b>
            </div>
          </div>


          <div class="panel-body">
            <div>

                <div ng-repeat = "(key, value) in item.info">
                  {{key}} : {{value}}
                </div>
                Tags:
                <span ng-repeat = "tag in item.tags">
                  {{tag}},
                </span>

              <br><br>

              <button ng-if="sidebar_level > 66" class="btn btn-primary pull-right" ng-click="callEdit(item.workID)"/>Edit</button>
            </div>
          </div>


      </div>
    </div>
</div>
