<!-- angular scripts -->

<script src="js/app.js"></script>
<script src="js/routes.js"></script>
<script src="js/controllers.js"></script>
<!-- angular scripts -->


<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">

<!-- Begin controll by browseApp -->
        <div ng-app="browseApp">

              <div class="panel panel-default">

                    <!-- Header message -->
                    <div class="panel-heading" ng-controller="header">{{header}}</div>


                    <!-- Body content -->
                    <div class="panel-body">

                          <div ui-view></div>

                    </div>
              </div>
        </div>
<!-- End control by browseApp -->
</div>
</div>
</div>
