<!-- Table for categories where I am a contributor-->

  <div class="row">
  <form name="catForm">
    <div class="tab-content">
        <div class="tab-pane active">
          <div class="table-responsive">
          <table ng-controller="catstabledisplayctrl" class="table table-hover">
          <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Group</th>
            <th>Menu</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in cats">
            <td>
              {{x.catName}}
            </td>
            <td>
              {{x.description}}
            </td>
            <td>
              {{x.groupName}}
            </td>
            <td><span ng-include="'usercp/cpmenus/cp_usermenu.html'"></span>
              <span ng-if="x.level >= 77" ng-include="'usercp/cpmenus/cp_modmenu.html'"></span>
              <span ng-if="x.level >= 88" ng-include="'usercp/cpmenus/cp_archivistmenu.html'"></span>
            </td>
          </tr>
        </tbody>
          </table>
        </div>
      </div>
    </div>
       </form>

     </div>
