<!-- Table for categories where I am a contributor-->
<div class="container">
    <div class="row">
      <div class="col-md-10">

<div class="panel panel-default">

      <!-- Header message -->
      <div class="panel-heading">
        <b>My Categories:</b>
      </div>

<div class="panel-body">
  <div>
    <style scoped>@import url("css/catlist.css");</style>

        <form name="catForm">

          <table ng-controller="catstabledisplayctrl">
          <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Group</th>
            <th>Menu</th>
          </tr>
          <tr ng-repeat="x in cats">
            <td>
              {{x.catName}}
            </td>
            <td>
              {{x.description}}
            </td>
            <td>
              {{x.groupName}}
            </td>
            <td><span ng-include="'usercp/cpmenus/cp_usermenu.html'"></span>
              <span ng-if="x.level >= 77" ng-include="'usercp/cpmenus/cp_modmenu.html'"></span>
              <span ng-if="x.level >= 88" ng-include="'usercp/cpmenus/cp_archivistmenu.html'"></span>
            </td>
          </tr>

          </table>

       </form>

     </div>

</div>

</div>

</div>
</div>
</div>
