<!-- Table for submissions pending approval -->

<div class="panel panel-default">

      <!-- Header message -->
      <div class="panel-heading">
        <b>Pending Submissions:</b>
      </div>

<div class="panel-body">
  <div>
    <style scoped>@import url("css/catlist.css");</style>

        <form name="submissionsForm">

          <table width="800">
            <thead>
              <tr>
                <th width="50">ID</th>
                <th width="90">     </th>
                <th width="80">Content Type</th>
                <th width="200">Title</th>
                <th width="100">Submitted By</th>
                <th width="130">Date</th>
              </tr>
            </thead>

            <tbody ng-repeat="item in pending">
              <tr>
                <td>{{item.workID}}</td>
                <td><a href="" ng-click="$parent.selected = item.workID">View Details</td>
                <td>{{item.contentType}}</td>
                <td><a ng-href="{{item.url|urlFilter}}">{{item.info.Title}}</a></td>
                <td>{{item.username}}</td>
                <td>{{item.subDate}}</td>
              </tr>
              <tr>
                <!-- Blank column for allignment -->
                <td ng-if="$parent.selected == item.workID">
                </td>
                  <!-- put details in here -->
                <td colspan="3" ng-if="$parent.selected == item.workID">
                  <div ng-repeat = "(key, value) in item.info">
                    <b>{{key}}</b> : {{value}}
                  </div>
                  <b>Tags:</b>
                  <span ng-repeat = "tag in item.tags">
                    {{tag}},
                  </span>
                </td>
                <!-- put buttons here -->
                    <td colspan="2" ng-if="$parent.selected == item.workID">
                      <div>Comment: <input type="text"></div>
                          <br>
                      <div><input type="radio" name="{{item.info.Title}}"> Approve
                      <input type="radio" name="{{item.info.Title}}"> Reject</div>
                      <input type="button" value="Remove" class="btn btn-primary"
                      ng-click="removeRow(item.workID)"/>
                </td>
              </tr>
            </tbody>
          </table>

       </form>

     </div>

</div>

</div>
