
<div class="col-md-6">
<div class="panel panel-default">

      <!-- Header message -->
      <div class="panel-heading">
        <b>Category Moderators:</b>
      </div>

<div class="panel-body">
  <div ng-if="level < 77">
    You don't have permission to view this.
  </div>
  <div ng-if="level >= 77">

    <div>
      <style scoped>@import url("css/catlist.css");</style>

          <form name="staffform">

            <table width="90%">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Group</th>
                  <th></th>
                </tr>
              </thead>

              <tbody ng-repeat="user in users">
                <tr>
                  <td><a href="" ui-sref="controls.memberprofile({id: user.userID})">{{user.username}}</a></td>
                  <td>{{user.groupName}}</td>
                  <td></td>
                </tr>
                <tr>
              </tbody>
            </table>
            <div style="margin:20px"></div>

            <label>Demote Moderator?</label>
            <table width="90%">
              <tbody>
                <tr>
                  <td>Select:</td>
                  <td><select ng-model="selection.moderator" ng-options="user.username for user in users track by user.userID">
                    <option value="">-----</option>
                    </select></td>
                  <td>
                    <button type="button" ng-click="demote(selection.moderator.userID); selection.moderator = '0'">
                    Submit Changes
                    </button>
                  </td>

                </tr>
              </tbody>

            </table>
         </form>
       </div>
     </div>




   </div>
  </div>
</div>

<div class="col-md-6">
<div class="panel panel-default">

      <!-- Header message -->
      <div class="panel-heading">
        <b>Promote New Moderator</b>
      </div>

<div class="panel-body">
  <div ng-if="level < 77">
    You don't have permission to view this.
  </div>
  <div ng-if="level >= 77">

    <div ng-controller="userstablectrl">
      <style scoped>@import url("css/catlist.css");</style>
      Enter a user name:
          <form name="newmodform">

            <input type = "text" name = "username" ng-model="formdata.username" required>
            <button type="button" ng-click="finduser()">Search</button>

            <div style="margin:10px">

            <div ng-if="userFound == 1">
              Promote {{usernamesearchresult}} to moderator?
              <button type="button" ng-click="promote()">Confirm</button>
              <button type="button" ng-click="cancel()">Cancel</button>
            </div>
            <div ng-if="userFound == 0">
              {{NotFoundMsg}}<br>
              <button type="button" ng-click="cancel()">Cancel</button>
            </div>

          </div>


          </form>

       </div>
     </div>
   </div>
  </div>
</div>
